.patternIcon {
  height: 390px;
  width: 272px;
  position: relative;
  display: none;
}
.caption,
.dashboard {
  position: relative;
  white-space: nowrap;
}
.dashboard {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.caption {
  font-size: var(--body-normal-regular-size);
  line-height: 160%;
  font-family: var(--body-normal-regular);
  color: var(--color-mediumslateblue);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--brands-secondary);
  padding: var(--padding-xs);
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-lightsteelblue-200);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
}
.notificationIcon {
  height: 40px;
  width: 40px;
  position: relative;
}
.action,
.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action {
  width: 285px;
  justify-content: flex-start;
  gap: 0 32px;
}
.topNav {
  align-self: stretch;
  background-color: var(--neutrals-0);
  box-shadow: var(--x-border);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--neutrals-100);
  font-family: var(--body-small-medium);
}
.dashboardSettingsLoginDe,
.frameTopNav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameTopNav {
  flex: 1;
  flex-direction: column;
  max-width: calc(100% - 272px);
}
.dashboardSettingsLoginDe {
  width: 100%;
  position: relative;
  background-color: var(--neutrals-0);
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
}
@media screen and (max-width: 925px) {
  .frameTopNav {
    max-width: 100%;
  }
  .dashboardSettingsLoginDe {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .action {
    gap: 0 32px;
  }
}
