.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutrals-0);
}
.line,
.rectangle1 {
  align-self: stretch;
  position: relative;
}
.line {
  height: 1px;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
}
.rectangle1 {
  flex: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    rgba(241, 244, 248, 0)
  );
}
.sep {
  position: absolute;
  height: 55.81%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 44.19%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.navigation1 {
  width: 82px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.about,
.advertising,
.careers {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.smallBusiness {
  margin: 0;
}
.aboutCareersAdvertisingContainer {
  align-self: stretch;
  position: relative;
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px 0;
  min-width: 101px;
}
.marketingSolutions,
.salesSolutions,
.talentSolutions {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.saferyCenter {
  margin: 0;
}
.talentSolutionsMarketingContainer {
  align-self: stretch;
  position: relative;
}
.navBarLinks {
  flex: 0.931;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 109px;
}
.communityGuidelines,
.privacyTerms {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.mobileApp {
  margin: 0;
}
.communityGuidelinesPrivacyContainer {
  align-self: stretch;
  position: relative;
}
.navBarLinks1,
.navigation {
  display: flex;
  justify-content: flex-start;
}
.navBarLinks1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-10xl);
  box-sizing: border-box;
  min-width: 96px;
}
.navigation {
  position: absolute;
  height: 66.51%;
  width: 33.19%;
  top: 16.28%;
  right: 48.75%;
  bottom: 17.21%;
  left: 18.06%;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-16xl);
  max-width: 100%;
  z-index: 2;
}
.fastAccess1 {
  width: 92px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.english {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
}
.questions {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.helpCircleIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.logoCollection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.questionsSettings {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-7xs);
  position: relative;
  gap: var(--gap-xl);
}
.questionsSettingsChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
}
.settings,
.settingsIcon {
  position: relative;
  z-index: 1;
}
.settings {
  text-transform: uppercase;
  font-weight: 500;
}
.settingsIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.questionsSettings1 {
  align-self: stretch;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-base) var(--padding-7xs)
    var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  color: var(--color-mediumslateblue);
}
.fastAccess,
.languageSwitcher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.languageSwitcher {
  align-self: stretch;
  gap: 10px 0;
  color: var(--neutrals-0);
}
.fastAccess {
  position: absolute;
  height: 50.23%;
  width: 11.81%;
  top: 16.28%;
  right: 31.94%;
  bottom: 33.49%;
  left: 56.25%;
  gap: var(--gap-lgi);
  z-index: 2;
}
.language1 {
  width: 77px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.languageSelector {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--neutrals-0);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
}
.english1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
}
.englishLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.chevronDownIcon {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.chevrondownArrow,
.language {
  display: flex;
  align-items: flex-start;
}
.chevrondownArrow {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-mini) var(--padding-7xs);
  position: relative;
  gap: var(--gap-xl);
}
.language {
  position: absolute;
  height: 30.7%;
  width: 18.75%;
  top: 16.28%;
  right: 9.03%;
  bottom: 53.02%;
  left: 72.22%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  z-index: 2;
}
.tablersteamIcon {
  height: 45.6px;
  width: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.collabment,
.tablersteamIcon {
  position: relative;
}
.collabmentWrapper,
.logoColl {
  display: flex;
  justify-content: flex-start;
}
.collabmentWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.logoColl {
  position: absolute;
  height: 21.21%;
  width: 10.34%;
  top: 16.28%;
  right: 85.63%;
  bottom: 62.51%;
  left: 4.03%;
  flex-direction: row;
  align-items: center;
  gap: 0 4px;
  z-index: 2;
  font-size: var(--font-size-sm-8);
  color: var(--color-black1);
}
.footer {
  align-self: stretch;
  height: 215px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--body-small-medium);
}
@media screen and (max-width: 450px) {
  .navBarLinks {
    flex: 1;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .footer {
    height: auto;
    min-height: 215;
  }
}
