.formFrameChild {
  width: 698px;
  height: 606px;
  position: relative;
  border-radius: var(--br-15xl);
  background-color: var(--neutrals-0);
  box-shadow: var(--cards-short-default);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.ellipseGroupA {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.2px;
  right: 0.5px;
  bottom: -0.2px;
  left: -0.5px;
  border-radius: 50%;
  background-color: var(--color-mediumslateblue-100);
  z-index: 1;
}
.rectangleGroup {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  white-space: nowrap;
  z-index: 2;
}
.divider {
  width: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-base) var(--padding-4xs)
    var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  color: var(--neutrals-0);
}
.contactInfoFrameChild {
  position: absolute;
  top: -0.3px;
  left: -0.5px;
  border-radius: var(--br-21xl);
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.backgroundFrame,
.contactInfoFrame {
  height: 6px;
  border-radius: var(--br-21xl);
}
.backgroundFrame {
  position: absolute;
  top: -0.3px;
  left: -0.5px;
  background-color: var(--color-mediumslateblue-100);
  width: 49px;
  z-index: 2;
}
.contactInfoFrame {
  align-self: stretch;
  position: relative;
  background-color: var(--neutral-300);
  z-index: 1;
}
.mainButtonFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  min-width: 64px;
}
.dividerChild {
  width: 34px;
  height: 34px;
  position: relative;
  border-radius: 50%;
  background-color: var(--neutral-300);
  z-index: 1;
}
.div {
  position: relative;
  line-height: 23px;
  z-index: 2;
  margin-top: -30px;
}
.divider1 {
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dividerItem {
  align-self: stretch;
  height: 6px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--neutral-300);
  z-index: 1;
}
.divider2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-11xs) 0;
  box-sizing: border-box;
  min-width: 64px;
}
.dividerInner {
  position: absolute;
  top: 0.2px;
  left: -0.3px;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div1 {
  position: absolute;
  top: 4px;
  left: 11px;
  line-height: 23px;
  z-index: 2;
}
.divider3 {
  height: 34px;
  width: 34px;
  position: relative;
}
.rectangleDiv {
  align-self: stretch;
  height: 6px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--neutral-300);
  z-index: 1;
}
.divider4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-11xs) 0;
  box-sizing: border-box;
  min-width: 64px;
}
.ellipseDiv {
  position: absolute;
  top: 0.2px;
  left: -0.2px;
  border-radius: 50%;
  background-color: var(--neutral-300);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div2 {
  position: absolute;
  top: 4px;
  left: 11px;
  line-height: 23px;
  z-index: 2;
}
.divider5 {
  height: 34px;
  width: 34px;
  position: relative;
}
.dividerParent,
.labelFrameB {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.dividerParent {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 0 17px;
}
.labelFrameB {
  width: 541px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  flex-shrink: 0;
}
.labelFrameA,
.textFrameA {
  align-self: stretch;
  box-sizing: border-box;
}
.textFrameA {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--neutral-400);
  z-index: 1;
}
.labelFrameA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xl);
  gap: 32px 0;
  max-width: 100%;
  color: var(--neutral-600);
}
.contactDetails {
  width: 202.6px;
  position: relative;
  line-height: 35px;
  display: inline-block;
  z-index: 1;
}
.loremIpsumDolor {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 30px;
  color: var(--neutral-600);
  z-index: 1;
}
.formFrame,
.inputGroupFrame,
.placeholderTextFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholderTextFrame {
  flex-direction: column;
  gap: 8px 0;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.formFrame,
.inputGroupFrame {
  align-self: stretch;
}
.inputGroupFrame {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 28px;
  font-size: var(--body-large-semibold-size);
}
.formFrame {
  border-radius: var(--br-15xl);
  background-color: var(--neutrals-0);
  box-shadow: var(--cards-short-default);
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-14xl) var(--padding-36xl) var(--padding-61xl)
    var(--padding-28xl);
  gap: 39px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-normal-regular-size);
  color: var(--neutral-800);
  font-family: var(--body-small-medium);
}
@media screen and (max-width: 750px) {
  .formFrame {
    gap: 39px 0;
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .dividerParent {
    flex-wrap: wrap;
  }
  .labelFrameA {
    gap: 32px 0;
  }
  .formFrame {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contactDetails {
    font-size: var(--font-size-lgi);
    line-height: 28px;
  }
}
